:root {
    --neutral-000: #FFFFFF;
    --neutral-100: #F8F8FB;
    --neutral-200: #E0E6EB;
    --neutral-300: #D4DCE5;
    --neutral-400: #CCD4DB;
    --neutral-500: #AFBFCC;
    --neutral-600: #929EB0;
    --neutral-700: #6F7A8A;
    --neutral-800: #404A5B;
    --neutral-900: #212833;
    --neutral-1000: #101010;

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 30px;
    --font-size-8: 36px;
    --font-size-9: 48px;
    --font-size-10: 60px;
    --font-size-11: 72px;

    --size-1: 1px;
    --size-2: 2px;
    --size-3: 4px;
    --size-4: 8px;
    --size-5: 12px;
    --size-6: 16px;
    --size-7: 24px;
    --size-8: 32px;
    --size-9: 48px;
    --size-10: 64px;
    --size-11: 96px;
    --size-12: 128px;
    --size-13: 192px;
    --size-14: 256px;
    --size-15: 384px;
    --size-16: 512px;
    --size-17: 640px;
    --size-18: 768px;
    --size-19: 924px;
}

body {
    font-family: 'Georgia', serif;
    font-size: var(--font-size-4);
    margin: 0;
}

main {
    display: flex;
    width: var(--size-18);
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

#billboard_image {
    width: var(--size-16);
    height: var(--size-16);
    margin: var(--size-9) auto;
    align-self: center;
}

.invisible_image {
    display: none;
}

.gallery_image {
    width: var(--size-13);
    height: var(--size-13);
    padding: var(--size-4);
}

img:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--neutral-1000)
}

#lettermark_gallery {
    display: inline;
    width: var(--size-12);
    display: flex;
    flex-wrap: wrap;
}

.lettermark { 
    width: var(--size-9);
    height: var(--size-9);
    margin: var(--size-3);
}

#logo {
    width: var(--size-12);
    padding: var(--size-4);
    padding-bottom: 0;
}

#nav {
    width: var(--size-12);
    position: fixed;
    display: inline;
    right: 0;
    flex-wrap: wrap;
}

li {
    list-style: none;
    margin: var(--size-2);
}

body {
    display: flex;
}